.main {
  padding: var(--padd-01);
  padding: var(--header-height);
}
.slide-banner {
  height: 30vh;
  width: 100%;
  border-radius: var(--radius-02);
}
.slide-banner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: var(--radius-02);
}

/* Slides */
.global-divisor {
  height: 2px;
  width: 100%;
  margin: 0.5rem 0;
  border-radius: 1px;
  background: var(--bg-05);
}
.sect-01 {
  margin-top: 1rem;
}
.sect-01 h2 {
  padding-bottom: 0.25rem;
  border-bottom: 1px solid var(--brand-04);
}
/* ========= SLIDES ========= */

/* ========= SLIDE INLINE ========= */
.slide-inline-01 {
  border: 1px solid red;
}

/* ========= SLIDE GALLERY ========= */
.slide-gallery-01 {
  border: 1px solid red;
}
.slide-gallery-2 {
  border: 1px solid blue;
}

/* ========= SLIDE LIST ========= */
.slide-list-01 {
  border: 1px solid red;
}

/* ========= SLIDE RANK ========= */
.slide-ranking-01 {
  border: 1px solid red;
}
/* ========= COLUMNS ========= */
